<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="level1_posts">
  <% @level1_posts.each do |level1_post| %>
    <p>
    <strong>Title: </strong><%= sanitize(level1_post.title) %>
    </p>
    <p>
    <strong>Body: </strong><%= sanitize(level1_post.body) %>
    </p>
    <p>
      <%= link_to "Show this post", level1_post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_level1_post_path %>
